<form class="ui stacked segment form" action="/dashboard/addchallenge" method="POST">
  <div class="field">
    <label>Genre</label>
    <input placeholder="Main Section Title" type="text" name="genre">
  </div>
  <div class="field">
    <label>Section</label>
    <input placeholder="Section" type="text" name="section">
  </div>
  <div class="field">
    <label>Title*</label>
    <input placeholder="Title" type="text" name="title">
  </div>
  <button class="ui blue submit button">Add Challenge</button>
</form>