<form class="ui stacked segment form" action="/challenge/{{challenge.id}}/addwork" method="POST">
  <h2>
    Give link to code or code directly here:
  </h2>
  <p>
    Only link or code will save. Link has priority.
  </p>
  <div class="two fields">
    <div class="field">
      <label>Title*:</label>
      <input placeholder="Title" type="text" name="title">
    </div>
    <div class="field">
      <label>Link:</label>
      <input placeholder="Work Url Link" type="text" name="link">
    </div>
    
  </div>
  <div>
    <div class="field">
      <label>Code:</label>
      <textarea placeholder="Full code here" type="text" name="code" ></textarea>
    </div>
  </div>
  <button class="ui blue submit button">Add Work</button>
</form>