{{> menu}}

<section class="ui center aligned middle aligned segment">
  <h1 class="ui header">
    Welcome to the challenge tracker for <a href="https://beta.freecodecamp.org/map/
" target="_blank">beta.freecodecamp.org!
    </a>  
  </h1>
  <p>
    A small app to let you track your challenge progression in beta.
  </p>
</section>